.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;

  position: absolute;
  top: 0;
  left: 10%;
  transform: translateX(-50%);
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}

.result {
  font-size: 1em;
}
